<IfModule mod_authz_core.c>
  # Apache 2.4
  Require all denied
  <Files ~ ".(xml|css|jpe?g|png|gif|js)$">
  Require all granted
  </Files>
</IfModule>
<IfModule !mod_authz_core.c>
  # Apache 2.2
  Order Deny,Allow
  Deny from All
  <Files ~ ".(xml|css|jpe?g|png|gif|js)$">
  Allow from all
  </Files>
</IfModule>
